{% extends "Base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
  <div class="col-md-8">
    <video controls>
      <source src="https://media.istockphoto.com/id/1353370109/video/ld-a-drop-of-water-falling-of-an-fern-leaf.mp4?s=mp4-640x640-is&k=20&c=55TBoAIsk8Lb77mpzNu_Jfg0g208hISSj0J7IkuYJBs=" type="video/mp4">
    </video>
  </div>
  <div class="col-md-4">
    <h5>О проекте:</h5>
    <p>{{ project.description }}</p>
    <br>
    <h5>Технологии:</h5>
    <p>{{ project.technology }}</p>
  </div>
</div>
{% endblock %}